<div class="mt-5">
  <!-- Titre + bouton -->
  <div class="flex items-center justify-between mb-4">
    <h2 class="text-xl font-semibold text-slate-700">Liste des drones</h2>
    <%= link_to "Ajouter un drone", new_drone_path, class: "inline-block px-4 py-2 bg-[#C8102E] text-white text-sm rounded-lg hover:bg-[#FFB200] transition" %>
  </div>

  <!-- Tableau avec ombre -->
 <div class="max-w-7xl mx-auto p-4">
   <div class="overflow-x-auto rounded-2xl shadow-sm border border-gray-200">
    <table class="min-w-full table-auto">
      <thead class="align-middle bg-gray-200 text-sm text-left">
        <tr class="text-red-900">
          <th class="px-4 py-3">Nom</th>
          <th class="px-4 py-3">Modèle</th>
          <th class="px-4 py-3">Numéro de série</th>
          <th class="px-4 py-3">Vols</th>
          <th class="px-4 py-3">Actions</th>
        </tr>
      </thead>

      <tbody class="bg-white divide-y">
        <% @drones.each do |drone| %>
          <tr class="text-slate-700 border-b border-gray-300 hover:text-orange-500">
            <td class="px-4 py-3"><%= drone.nom %></td>
            <td class="px-4 py-3"><%= drone.modele %></td>
            <td class="px-4 py-3"><%= drone.numero_de_serie %></td>
            <td class="px-4 py-3"><%= drone.voles.count %></td>
            <td class="px-3 py-2">
              <div class="flex space-x-2">
                <%= link_to drone_path(drone), class: "inline-block px-4 py-2 bg-[#FFB200] text-white text-sm rounded-lg hover:bg-[#FFB200] transition" do %>
                  Voir
                <% end %>
                <%= link_to edit_drone_path(drone), class: "inline-block px-4 py-2 bg-[#C8102E] text-white text-sm rounded-lg hover:bg-[#FFB200] transition" do %>
                  Modifier
                <% end %>
                <%= button_to drone_path(drone), method: :delete, data: { turbo_confirm: "Êtes-vous sûr de vouloir supprimer ce drone ?" }, class: "button is-light-danger text-sm mx-1" do %>
                  Supprimer
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>